# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environment
/env
/venv

# Idea folder (Pycharm specific)
.idea

# Secret file
secret.ini

# GHI/DHI/BHI map data
ghi_dhi_bhi_pvgis_2015.csv

## Data files
# bsrn meta data and hourly data (post-processed)
solarstations_v2.csv
irr_uncertainty/local_data/bsrn_data/*_H_*.pkl

# Irradiance data and local images
irr_uncertainty/local_data/irr_data/kd_dist_v2*.pkl
irr_uncertainty/local_data/irr_data/images/*.png

# irr_limits (post-processed)
irr_uncertainty/local_data/irr_limits/*_H_*.pkl
irr_uncertainty/local_data/irr_limits/*_1min_*.pkl

# CAMS data
irr_uncertainty/local_data/cams_data/*.pkl

# PV live data
irr_uncertainty/local_data/pv_live/*.pkl

# solar position data (post-processed)
irr_uncertainty/local_data/solar_pos/*_H_*.pkl
irr_uncertainty/local_data/solar_pos/*_1m_*.pkl
irr_uncertainty/irr_uncertainty/local_data/solar_pos/*_min_*.pkl

# Document files
docs/build/*
docs/source/generated/*

# Distribution files
dist/*
build/*
*.egg-info
